body {
  color: white;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.dark_background, body {
  background-color: #0f1e3c;
}

.background {
  background-color: #14283c;
}

.accent_background {
  background-color: #00d9f0;
}

.accent_color, a {
  color: #00d9f0;
}

.light_color {
  color: #B4F5F0;
}

a {

}


/* Scrollbar */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00d9f0 #0f1e3c;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #0f1e3c;
}

*::-webkit-scrollbar-thumb {
  background-color: #00d9f0;
  border-radius: 20px;
  border: 3px solid #0f1e3c;
}

/* Highlight */

::selection {
  background-color: #00d9f0;
  color: #0f1e3c;
}