.intro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.typewriter p {
  font-size: 5vw;
  text-align: center;
  overflow: hidden;
  margin: 10px;


  position: absolute;
  opacity: 0;
  animation: slide_up 0.3s forwards;
  animation-delay: 1s;
}

.greeting {
  font-size: 8vw;
  padding: 0;
  margin-bottom: 150px;
  margin-top: -100px;

  animation: slide_up 1s forwards;
  animation-delay: 1s;
}

@media all and (max-width: 700px) {
  .typewriter p { font-size: 12vw; }
  .greeting { font-size: 18vw; }
}

.typewriter p span.typed_text {
  font-weight: bold;
  color: #00d9f0;
}
.typewriter p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 2px;
  width: 3px;
  animation: blink 1s infinite;
}

.typewriter p span.cursor.typing {
  animation: none;
}

.down_button {
  position: absolute;
  bottom: 50px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

  font-size: 40px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 20px;
  height: 40px;
  width: 40px;

  opacity: 0;
  animation: slide_up 1s forwards;
  animation-delay: 2s;

  transition-duration: 1s;
}

.down_button:hover {
  cursor: pointer;
  color: #00d9f0;
  bottom: 60px;
  border: 1px solid #00d9f0;
}

.down_arrow {
  /* White */
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(52deg) brightness(106%) contrast(100%);
  transition-duration: 1s;
}

.down_button:hover .down_arrow {
  /* #00d9f0 */
  filter: invert(67%) sepia(79%) saturate(1143%) hue-rotate(134deg) brightness(92%) contrast(105%);
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@keyframes slide_up {
    100% {
      transform: translateY(-20px);
      opacity: 1;
    }
}

@keyframes slide_down {
    100% {
      transform: translateY(20px);
      opacity: 1;
    }
}