.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 50px;
    background-color: rgb(15, 30, 60, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transition-duration: 0.6s;
}

.menu * {
    transition-duration: 0.6s;
}

.menu_scrolled {
    height: 70px;
    box-shadow: rgba(2, 4, 8, 0.8) 0 10px 20px -10px;
}

.menu_hidden {
    top: -100px;
}

@media all and (max-width: 1200px) {
    .menu { padding: 0 40px; }
}

@media all and (max-width: 700px) {
    .menu { padding: 0 30px; }
}

.logo_container {
    position: relative;
    z-index: 102;
}

.logo_container:hover {
    cursor: pointer;
}

.logo_container:after {
    display: none;
}

.menu_logo_text {
    position: absolute;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 18px;
    color: #00d9f0;
    opacity: 0;
    margin-left: -60px;
    padding-left: 20px;
}

.logo_container:hover .menu_logo_text {
    margin-left: 0px;
    opacity: 1;
}

.logo_container:hover .menu_logo {
    margin-left: -20px;
}

.menu_logo {
    height: 40px;
}

.menu_option {
    margin-left: 60px;
    font-size: 14px;
    color: #b4f5f0;
    text-decoration: none;
}

.menu_option:hover {
    color: #00d9f0;
}

.menu_option.active {
    font-weight: bold;
}

.menu_option.active > *::before { content: '['; }
.menu_option.active > *::after { content: ']'; }

.menu_button {
    display: none;
    /*height: 40px;
    font-size: 50px;
    line-height: 25px;
    color: #00d9f0; */
    z-index: 101;
    user-select: none;
    transition-duration: 0.5s;
}

.menu_button:hover {
    cursor: pointer;
}

.menu_button_open {
    rotate: 360deg;
    font-size: 60px;
}

.menu_icon {
    /* #00d9f0 */
    filter: invert(67%) sepia(79%) saturate(1143%) hue-rotate(134deg) brightness(92%) contrast(105%);

    height: 40px;
}

/* Replace menu options with hamburger on small displays */
@media all and (max-width: 700px) {
    .menu_button { display: block; }
    .options_container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        top: 0;
        width: 60%;
        right: -60%;
        background-color: #122448;
        transition-duration: 0.5s;
    }
    .menu_option { 
        margin: 20px auto;
        font-size: 25px;
    }
    .menu_option {
        margin: 30px;
    }
}

@media all and (max-width: 500px) {
    .options_container {
         width: 80%;
        right: -80%;
    }
}

.sidebar_open {
    right: 0;
}

.blur_show { opacity: 1; }