.project {
    background-color: #14283c;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 25%;
    text-align: left;
    transition: all 1s;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.project a:after {
    display: none;
}

@media all and (max-width: 1200px) {
    .project { width: 35%; }
}

@media all and (max-width: 700px) {
    .project { width: 100%; }
}

.project:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.project:hover .project_header {
    color: #00d9f0;
}

.project_header {
    color: white;
    transition-duration: 0.5s;
}

.project_description {
    color: lightgrey;
    font-size: 14px;
}

.project_tags {
    display: flex;
    flex-flow: row wrap;
    flex: 0;
}

.project_tag {
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    background-color: #1e3c78;
}